.navbar{
    background-color: rgb(222, 206, 67);
    z-index: 101;
    bottom: 0;
    width: 100%;
    position: fixed;
}
.navbar-brand{
    color: #333;
    font-size: 15px;
    font-weight: 600;
}
.container-fluid{
    justify-content: center;
}