.container-inicio{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    gap: 1rem;
    background-color: #333;
}

.card-container{
    display: flex;
    margin: 2rem 2rem;
    margin-top: 100px;
}

.tabla-alumnos{
    margin-left: 160px;
}
.card{
    margin: 0 10px;
    align-items: center;
}
.card-body{
    text-align: center;
}
.inicio{
    background-color: green;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px 5px;
    color: #fff;
}
.terminado{
    background-color: tomato;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px 5px;
    color: #fff;
}

.curso_alumnos{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    letter-spacing: 1px;
    opacity: .7;
}
.fecha{
    opacity: .7;
}

@media(max-width:800px){
    .dash_news{
        flex-direction: column;
    }
    .card{
        margin: 0;
        margin-bottom: 15px;
    }
}