.fechas-container{
    height: 100vh;
    margin-left: 180px;
    margin-right: 25px;
    margin-top: 60px;   
}

.filtros{
    background-color: #343a40;
}

.tabla-title{
    font-size: 25px;
    font-weight: 500;

    display: inline-block;
    margin: 20px 0;
}

@media(max-width:850px){
    .fechas-container{
        margin-left: unset;
    }
}