<div class="grid-container">
  <app-toolbar class="grid-header"></app-toolbar>
  <app-navbar class="grid-nav"></app-navbar>
  <!-- <app-dashboard class="grid-main"></app-dashboard>
  <app-abm-cursos class="grid-abm-cursos"></app-abm-cursos>
  <app-material class="grid-dashboard"></app-material> -->
  <app-abm-alumnos class="grid-abm-alumnos"></app-abm-alumnos>
  <!-- <router-outlet></router-outlet> -->
  <app-menu class="grid-menu"></app-menu>
  <app-footer class="grid-footer"></app-footer>
</div>

