
.menu-btn{
    position: absolute;
    top: -57px;
    
    margin: 5px, 0, 5px, 5px;
}

.menu-desktop{
    width: 100%;
    height: 100vh;
    background-color: #343a40;
    
    display: flex;
    flex-direction: column;
}


@media (max-width: 500px){
    .menu-desktop{
        display: none;
    }
}