<div class="menu_desktop">
    <nav class="nav flex-column">
      <a class="nav-link" href="home">
        <i class="bi bi-house-door">
          <span> Inicio</span>
        </i>   
      </a>
      <a class="nav-link" href="cursos">
        <i class="bi bi-book">
          <span> Cursos</span>
        </i>
      </a>
      <a class="nav-link" href="#">
        <i class="bi bi-calendar3">
          <span> Fechas</span>
        </i>
      </a>
      <a class="nav-link" href="alumnos">
        <i class="bi bi-chat-dots">
          <span> Alumnos</span>
        </i>
      </a>
    </nav>
  </div>