
.menu{
    position: fixed;
    z-index: 100;
    width: 160px;
    height: 100vh;
    background-color: #343a40;
}
.menu-link{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 50px 15px;
}


@media(max-width: 850px){
    .menu{
        display: none;
    }
}
